<% content_for :title, "Hackvertisements Leaderboard" %>

<div class="container">
    <%= link_to "Back", root_path, class:"smol linkbutton", style:"position:absolute;top:2px;left:2px" %>
    <div>
        <h1>leaderboard !</h1>
        <%= render "leaderboard/lb_entries" %>
    </div>
</div>