<div class="container">
    <div>
        <h1>leaderboard !</h1>

        <% Lbentry.all.each do |lbentry| %>
            <% if lbentry["hits"] != nil and lbentry["name"] != nil %>
                <p>Name: <%= lbentry["name"] %></p>
                <p>Hits: <%= lbentry["hits"] %></p>
                <br>
                <br>
            <% end %>
        <% end %>

    </div>
</div>