# this is required if you want to use the local fake CDN. (you probably do).
# set to local ip address (note: localhost or 127.0.0.1 does NOT work).
# should not end with /
CDN_BASE_URL="http://192.168.1.1"

# this is required if you want to use hackclub auth.
# without this, dev login is still possible.
# make an app at https://auth.hackclub.com/ 
# (scopes needed are: openid,slack_id)
CLIENT_ID=hehe
CLIENT_SECRET=secrets

# no need to change this for testing:
CDN_KEY=woahh