# make an app at https://auth.hackclub.com/ 
# (scopes needed are: openid,profile,slack_id)
CLIENT_ID=hehe
CLIENT_SECRET=secrets

# dont change this for testing:
CDN_URL="http://127.0.0.1:5462/"
CDN_KEY=woahh # not used for testing either