<% content_for :title, "Editing hackvertisement" %>

<div class="container">
  <div>
    <h1>editing a hackvertisement</h1>
    <%= render "form", hackvertisement: @hackvertisement %>
    <br>
  </div>
</div>
