<% content_for :title, "New hackvertisement" %>

<h1>New hackvertisement</h1>

<%= render "form", hackvertisement: @hackvertisement %>

<br>

<div>
  <%= link_to "Back to hackvertisements", hackvertisements_path %>
</div>
