<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hackvertisements embed</title>
    <base target="_parent" />
</head>

<body style="margin:2px;overflow:hidden;">
    <style>
        .container {
            display:block;  width: calc(100vw - 4px);
            height: calc(11.63434vw - 4px);
            background-color: #a2a2a2;
            outline: 4px inset black;
            background-size: cover;
            background-image: url('<%= image_path(@entry['data']) %>');
            text-decoration: none;
        }
    </style>
    <a class="container" href="<%= @entry['link'] %>">
    </a>
</body>

</html>