<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>hackvertisements embed</title>
</head>

<body style="margin:0">
    <div style="width:722px;max-width:calc(100vw - 4px);height:84px; background-color: #82dcff; border: 2px inset;margin-left: 50%; transform: translateX(-50%);background-image: url('<%= image_path(@entry['data']) %>')"></div>
</body>

</html>