<h1>hiya!! welcome to hackvertisements [WIP]</h1>
<p>you're not logged in. please log in to upload hackvertisements :3</p>


<% if Rails.env.development? %>
<h4>woaww,, you're a dev! heres the secret dev login :3</h4>
<p>login by user id (UID)</p>

<form action="/auth/dev">
    <input name="uid" type="text">
    <input type="submit">
</form

<% end %>
