<h1>hackvertisements</h1>
<p>welcome to the hackvertisements dashboard!</p>

<%= link_to "Upload a hackvertisement!", new_hackvertisement_path, class: "btn btn-primary" %>

<h3>your hackvertisements:</h3>

