:root {
    --bg-color: #CECDFF;
    --ok-green: #4ee055;
    --ok-green-hover: #2faf35;
    --ok-green-active: #119517;
    --link-button-hover: #45c94c;
    --link-button-active: #2c8b31;
    --error: red;
    --error-darker: #af2f2f;
    --error-darkest: #951111;
    --container: #f2ffef;
    --focused-container: #dce9d9;
    --text-color: black;
    --contrast-text-color: white;
    --sad-button: black;
    --sad-button-hover: rgb(32, 32, 32);
    --sad-button-active: rgb(45, 43, 54);
    --blue-link: rgb(0, 77, 255);
    --purple-link: #A100FF;
    --border-color: black;
    --darkmode-switch-color: white;
    --darkmode-switch-text: white;
    --dark: 0
}

.dark-root {
    --border-color: #303030;
    --bg-color: #1c1c1c;
    --ok-green: #4ee055;
    --ok-green-hover: #2faf35;
    --ok-green-active: #119517;
    --link-button-hover: #45c94c;
    --link-button-active: #2c8b31;
    --error: red;
    --error-darker: #af2f2f;
    --error-darkest: #951111;
    --container: #161616;
    --focused-container: #232222;
    --text-color: #bebebe;
    --contrast-text-color: #161616;
    --sad-button: #f9f8ff;
    --sad-button-hover: rgb(228, 227, 238);
    --sad-button-active: rgb(197, 197, 212);
    --blue-link: rgb(107, 152, 255);
    --purple-link: #C259FF;
    --darkmode-switch-color: #000;
    --darkmode-switch-text: rgb(255, 255, 255)0;
    --dark: 1
}

body {
    background-color: var(--bg-color);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: var(--text-color);
}

.invert-dark {
    filter: invert(var(--dark));
}

#darkmode-switch {
    height: 26px;
    min-width: 23px;
    background-color: var(--darkmode-switch-color);
    border: 1px solid var(--border-color);
    color: var(--darkmode-switch-text);
    font-size: 16px;
    text-align: center;
}

#darkmode-item {
    float: right;
    font-size: 22px;
    margin-right: 10px;
    background-color: var(--contrast-text-color);
    padding: 2px;
    margin-top: 6px;
}

.darkmode-switch-container {
    position: absolute;
    top: 0;
    right: 10px;
}

#notice {
    z-index: 7000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ok-green);
    padding: 12px;
    outline: 2px var(--border-color) solid;
    top: 30px;
}

#notice>button {
    border-radius: 0;
    border: 1px solid var(--border-color);
    background-color: var(--ok-green-active);
    color: var(--contrast-text-color);
    transform: translateY(-1px);
}

#notice>button:hover {
    background-color: var(--ok-green-hover);
}

.error {
    background-color: var(--error) !important;
}

.error>button:hover {
    background-color: var(--error-darker) !important;
}

.error>button {
    background-color: var(--error-darkest) !important;
}

#notice>p {
    text-align: center;
    width: fit-content;
    color: var(--contrast-text-color);
    margin: 0;
    display: inline;
}

.back {
    position: absolute;
}

.leaderboard-entry {
    border: 1px solid var(--border-color);
    margin-bottom: 5px;
    padding: 4px;
}

.leaderboard-entry>span {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.form-container {
    background-color: var(--focused-container);
    padding: 20px;
}

#image-showcase {
    width: 722px;
    height: 84px;
    background-color: var(--container);
    display: inline-block;
    text-align: center;
}

#image-showcase::before {
    font: inherit;
    display: block !important;
    margin-top: 30px;
    font-style: italic;
}

.tooltip {
    text-decoration: underline;
}

.tooltip>div {
    display: none;
    background-color: var(--container);
    position: absolute;
    width: 220px;
    padding: 7px;
    outline: 2px solid var(--border-color);
}

.tooltip:hover>div {
    display: inline-block;
}

.tooltip:hover>div:hover {
    display: none;
    /* so that hovering the tooltip window doesnt keep it open,
    because then it can get hard to access the input field that is being directly covered by this tooltip. */
}

.label {
    font-size: 18px;
    line-height: 26px;
}

.smol {
    font-size: 19px !important;
    padding: 9px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

input[type=url],
input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    height: 25px;
}

input[type=url]:focus,
input[type=text]:focus {
    outline: none;
}

input[type="file"]::file-selector-button {
    border-radius: 0;
    border: 2px solid var(--border-color);
}

input[type="file"]::-webkit-file-name-text {
    border-radius: 0;
    border: 2px solid var(--border-color);
}

input[type=file] {
    border: none;
}

input {
    border-radius: 0;
    border: 2px solid var(--border-color);
}


.navbar {
    background-color: var(--contrast-text-color);
    border-bottom: 1px solid var(--border-color);
    height: 48px;
}

.navbar>a {
    font-size: 22px;
    margin-left: 6px;
    margin-right: 10px;
}

.navbar>div {
    display: inline;
}

.navbar>div>.linkbutton {
    margin-right: 6px;
    margin-top: 2px;
    padding: 8px;
    padding-right: 8px;
    padding-right: 15px;
    float: right;
    background-color: var(--sad-button);
    box-shadow: none;
}

.navbar>div>.linkbutton:hover {

    background-color: var(--sad-button-hover);
}

.navbar>div>.linkbutton:active {

    background-color: var(--sad-button-active);
}

.navbar>div>.linkbutton>img {
    height: 20px;
    transform: scale(1.6) translateY(1px);
    margin-left: 5px;
}

/* remove star on smol screen */
@media (max-width: 980px) {
    .star {
        display: none;
    }
}

.star {
    position: absolute;
    top: 1173px;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    z-index: 500;
    pointer-events: none;
}

.star>img {
    width: 120px;
    margin-left: calc((100vw - min(790px, 100vw)) / 2 - 85px);
}

.toadcan {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 500;
    pointer-events: none;
}

.toadcan>img {
    width: 120px;
    rotate: 5deg;
    margin-top: 26px;
    margin-left: calc(100vw - (100vw - min(790px, 100vw)) / 2);
}

.user-hackvertisement>.user-img>img {
    width: 100%;
}

.user-hackvertisement>form>button {
    float: right;
    color: var(--error);
    display: none;
    border: none;
    cursor: pointer;
}

.user-hackvertisement>form>button:hover {
    background: none;
    text-decoration: underline;
}

.user-hackvertisement {
    background-color: var(--focused-container);
    width: 722px;
    max-width: calc(100% - 4px);
    height: 105px;
    padding: 5px;
    margin-bottom: 22px;
    overflow: hidden;
    outline: 1px solid var(--border-color);
    box-shadow: 6px 6px black;
}

.user-hackvertisement>a {
    color: var(--blue-link);
}

a:hover {
    text-decoration: underline;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

input[type=submit],
.linkbutton {
    padding: 15px;
    background-color: var(--ok-green);
    color: var(--contrast-text-color);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 4px 4px black;
    border: solid 1px var(--border-color);
}

input[type=submit]:hover,
.linkbutton:hover {
    background-color: var(--link-button-hover);
    text-decoration: none;
}

input[type=submit]:active,
.linkbutton:active {
    background-color: var(--link-button-active);
}

.container>div {
    margin: 40px;
    padding-bottom: 40px;
}

.container {
    background-color: var(--container);
    outline: solid 2px var(--border-color);
    width: 100%;
    max-width: 846px;
    padding: 0;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

p,
li {
    font-size: 22px;
    line-height: 30px;
}

.subtitle {
    margin-top: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--purple-link);
}